*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.MuiSnackbarContent-root{
  background-color: transparent!important;
  border-radius: 20px!important;
  flex-wrap: nowrap!important;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

/* .MuiDialog-paperFullWidth{
  all:revert!important;
}

.MuiDialog-paperWidthSm{
  max-width: 1500px!important;
}

iframe{
  width: 580px;
}

/* .MuiPaper-root{
  width: 1000px;
  background-color: red;
} */

/* .MuiDialog-paper{
  width: 1000px!important;
  padding: 200px;
  background-color: red;
} */

/* .tw-absolute:hover{
  pointer-events: none!important;

  
}

.video-player__default-player:hover{
  pointer-events: none!important;
}

.tw-absolute {
  pointer-events: none!important;

  
}

.video-player__default-player {
  pointer-events: none!important;
}

.pointerEventNone:hover{
  pointer-events: none!important;
} */ 

.textfieldSignIn{
  background-color: #fff;
  margin: 20px 0px 20px 0px!important;
}

.cardStyles{
  background: #dee2e3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  height: 95%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  opacity: 80%;
  margin: 20px;
  /* margin-bottom: 30px; */
  color: #000;
  padding: 30px;
}

/* .cardStyles:hover{
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
} */

.containerCards{
  height: 100%;
  width: 100%;
}

.titleCards{
  margin: 30px;
}

.pCards{
  padding: 10px 40px;
}

.dialogGraphics{
  height: 80%;
  width: 100%;
  background-color: red;
}

.alignItems{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.titleAlertDialogGraphics{
  font-size: 30px;
}

body::-webkit-scrollbar-track
{
	background-color: #010606;
}

body::-webkit-scrollbar
{
	width: 15px;
	background-color: #010606;
}

body::-webkit-scrollbar-thumb
{
	background-color: #01bf71;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


.scrollbar::-webkit-scrollbar-track
{
	background-color: #c2e59c;
}

.scrollbar::-webkit-scrollbar
{
	width: 15px;
	background-color: #c2e59c;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #64b3f4;	
}

.testtest{
  /* height:100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 400px){
      height: 80%;
  }
}

.fileContainer{
  background-color: transparent!important;
  border: none!important;
}